.ariya-link{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 163px 0 0 23px;
	font-size: 0.7em;
}

.reveal .ariya-img{
	margin:20px 0 20px 0;
}

li{
	margin: 0 0 20px 0;
}

.reveal h2{
	margin: 0 0 30px 0;
}

.nostalgia-image{
	background-image: url(../assets/nostalgia.jpeg);
	background-position: center center;
	background-repeat: no-repeat;
	height:370px;
	width:550px;
	margin:0 auto;
}

.reach-image{
	background-image: url(../assets/outofreach.jpeg);
	background-position: top center;
	background-repeat: no-repeat;
	height: 466px;
    width: 100%;
	margin:0 auto;
}

.html-file{
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	color: #BA55D3;
	height:300px;
	width:200px;
	border-radius: 4px;
	background-color:#fff;
	line-height: 300px;
	margin:50px 100px 0 0;
	float:left;
}

.browser{
    margin:25px auto 0 auto;
	width:500px;
	background: #999;
	padding:20px;
	border:1px solid #ddd;
	border-radius: 6px;
}

.browser-part{
	background:#620A9E;
    border: 1px solid #620A9E;
    border-radius: 4px;
    font-size:0.8em;
}

.browser-part li{
    margin:0 0 10px 0;
}

.webkit.browser-part{
     padding:10px;
}